player-connection-mode=Listen
player-connection-guid=2605503600
player-connection-debug=0
player-connection-project-name=Eerste dinges in 3d rigidbody movement
player-connection-ip=169.254.153.141
player-connection-ip=192.168.2.100
player-connection-ip=192.168.2.101
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
